---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import SideNav from '../components/SideNav.vue';
import { Markdown } from '@astropub/md'

import { getCollection, getEntryBySlug, CollectionEntry } from 'astro:content';

// Get a single entry from a collection. Requires the name of the collection and the entry's slug as arguments.
const data = await getEntryBySlug('data', 'index');
console.log({data})
---

<Layout title="Every Body Moves Brand Guide">
	<main>
		<SideNav client:visible>
			<!-- <Hero title="Hi"/> -->
			<div class="content"><Markdown of={data?.body} /></div>
		</SideNav>
	</main>
</Layout>