---
const { colours } = Astro.props;

// was going to use this js: https://colorcontrast.dev/api/
---

<div class="colour">
    <div class="block-colour" style=`color:; background-color:;`>
    </div>
</div>

<style lang="scss">
</style>