---
import TableOfContentsHeading from '../components/TableOfContentsHeading.astro'
const { headings } = Astro.props;

function buildToc(headings) {
    // console.log({headings})

    const toc = [];
    const parentHeadings = new Map();

    let count = 1

    headings.forEach((h, index) => {
      // console.log({index})
      const heading = { ...h, subheadings: [], index };
      
      parentHeadings.set(heading.depth, heading);
      // Change 2 to 1 if your markdown includes your <h1>
      if (heading.depth === 2) {
          // console.log('heading depth is 2.')
          // only push index when depth is 2
          heading.index = count++;
          toc.push(heading);
      } else {
        //   console.log('heading depth is...' + heading.depth)
          if(heading.depth !== 1) parentHeadings.get(heading.depth - 1).subheadings.push(heading);
      }
    });
    return toc;
  }
  let toc = []
  if(headings && headings.length > 1) toc = buildToc(headings)
---

<nav class="toc lg:text-right">
    <ul class="inline-block text-left" role="list">
        {toc.map((heading) => { 
          // console.log({heading})
          return <TableOfContentsHeading heading={heading}/> 
          })}
    </ul>
</nav>