---
import { Image } from '@astrojs/image/components';
const { name, weight, variant, cssName } = Astro.props;

---

<div class="full-width flex flex-col items-center mt-4" style=`font-weight:${weight}`>
	<div class="grid grid-cols-1 lg:grid-cols-2 text-left">
		<div>
			<div class="name">{name}</div>
			<div class="name">{variant}</div>
			<div class="name">{weight}</div>
		</div>
		<div class="sample mt-4 lg:mt-0">aåbcçd∂eéfƒghiîjklmµnñoøpqœrstuüvwxyz<br>AÅÂBCÇDEFGHIÍJKLMNOØÓÔÒPQRSTUVWXYZ<br>0123456789º(.,’”-;:)<br>!?&©@£$%^&*™</div>
	</div>
</div>


<style lang="scss">
	.full-width{
		width:100%;
		// background-image: url('/images/abstract-halftone.svg');
		background-size: auto 100%;
		background-position: right;
		background-repeat: no-repeat;
		padding:4rem 0;
		border-top:1px solid black;

		img {
			width:100%;
		}
		font-size:1.4em;
	}
	.text {
		// font-size: 3rem;
		// font-weight: 900;
		color: var(--text-color-light);
	}
	.sample {
		overflow:hidden;
		letter-spacing:.05em;
		word-break: break-all;
	}
</style>