---
import { Image } from '@astrojs/image/components';
const { src, alt } = Astro.props;
---

<div class="home-hero bg-4 flex flex-col items-center">
	<div class="spotty p-12 index-content">
		<div class="text-left text-box">
			<Image src={src} alt={alt} width={200} aspectRatio="1:1" />
			<div class="text mt-8 text-4xl font-bold">Digital Brand Guide</div>
			<div class="text mt-1 text-xl">Version 1.5</div>
		</div>
	</div>
	<div class="text mt-8 p-12 content">
		<p>Every Body Moves powered by Toyota is the go to platform to discover inclusive opportunities to become more active locally or at home. Our ambition is to create the UK’s largest community for players, parents and coaches to share their experiences, find useful tips and information on what’s happening near them.</p>
		<p>We believe there’s a sport or activity out there for everybody, we highlight inclusive activities and one-off events for disabled and non-disabled people to enjoy together. Every Body Moves powered by Toyota is developed by ParalympicsGB to make movement better for all members of the disabled community.</p>
	</div>
</div>


<style lang="scss">
	.home-hero{
		min-height: 100vh;
		width:100%;
		align-items: center;
	}
	.pad{
		padding:4rem;
	}
	.spotty{
		align-items: center;
		background-image: url('/images/abstract-halftone.svg');
		background-size: auto 100%;
		background-position: right;
		background-repeat: no-repeat;
	}
	.text-box{
		display:block;
		width:100%;
	}
	.text {
		// font-size: 3rem;
		// font-weight: 900;
		color: var(--text-color-light);
	}
	.index-content{
		margin:0!important;
		width:100%;
	}
</style>