---
const { title, headings } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet">
		<link rel="icon" href="/favicon.ico" sizes="any">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="theme-color" content="#ffffff">
		<title>{title}</title>
	</head>
	<body class="h-full">
		<slot />
	</body>
</html>
<style is:global lang="scss">
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	* {
		box-sizing: border-box;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	:root {
		--typeface-primary: 'Atkinson Hyperlegible';
	}
	body {
		font-family: var(--typeface-primary), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	}

	:root {

	--toyota--red: #FF0022;

	--greyscale--10--ghost: #FAF9FE;
	--greyscale--20--lavender: #ECECFD;
	--greyscale--30--lighter--purple: #D1D1F9;
	--greyscale--40--light--purple: #B6B8EF;
	--greyscale--50: #9FA0D0;
	--greyscale--100: #8788AF;
	--greyscale--200: #6F6F8F;
	--greyscale--300: #5C5D76;
	--greyscale--400--independence: #49495D;
	--greyscale--500: #3A3A49;

	--green--10: #F4FDF0;
	--green--20: #D8F6CB;
	--green--30--accent--green: #99E880;
	--green--40: #82CF6B;
	--green--50: #73B45E;
	--green--100: #629851;
	--green--200: #527D44;
	--green--300: #456839;

	--purple--10: #F4EAFE;
	--purple--20: #E3CBFC;
	--purple--30: #D1ADF9;
	--purple--40: #BE8FF6;
	--purple--50: #A76EF2;
	--purple--100: #8C4BEE;
	--purple--200: #732BEA;
	--purple--300--primary--purple: #5A16CA;
	--purple--400: #49179B;
	--purple--500: #3D088C;
	--purple--600: #330E6F;
	--purple--700: #291152;
	--purple--800: #201338;
	--purple--900--xiketic: #1A1423;


	// Set variables
	--color-primary: var(--purple--300--primary--purple);
	--color-theme: var(--color-primary);
	--color-bg-1: var(--purple--800);
	--color-bg-2: var(--greyscale--40--light--purple);
	--color-bg-3: var(--greyscale--20--lavender);
	--color-bg-4: var(--purple--500);
	--color: var(--purple--900--xiketic);
	--bg-body: var(--greyscale--10--ghost);
	--text-color: var(--greyscale--500);
	--hero-text-color: var(--purple--900--xiketic);
	--text-color-light: var(--greyscale--10--ghost);

	--table-border-color: var(--greyscale--20--lavender);
	--table-header-bg-color: var(--greyscale--30--lighter--purple);
	--table-header-text-color: var(--text-color);
	--table-header-danger-bg-color:var(--greyscale--400--independence);
	--table-header-danger-text-color: var(--greyscale--20--lavender);
	}
	html{
		background: var(--bg-body);
	}
	body{
		background: var(--bg-body);
		color: var(--text-color);
	}
	.bg-1 {background-color: var(--color-bg-1);}
	.bg-2 {background-color: var(--color-bg-2);}
	.bg-3 {background-color: var(--color-bg-3);}
	.bg-4 {background-color: var(--color-bg-4);}

	a {
		text-decoration: underline;
		word-break: break-all;
	}

	.content-width{
		margin:0 auto;
		width:100%;
		max-width: calc(100% - 48px);
		@media(min-width:420px){
			max-width: calc(100% - 96px);
		}
		@media(min-width:1400px){
			max-width: 900px;
		}
	}

	.content {
		padding-top:80px;
		padding-bottom:80px;

		@media(min-width:420px){
			padding-top:120px;
			padding-bottom:200px;
		}

		.spacer{
			height:180px
		}

		p{
			line-height: 1.68;
			max-width: 70ch;
		}
		*+p{
			margin-top:24px
		}

		p, h1, h2, h3, h4, h5, h6, ul, ol, table{
			@media(min-width:420px){
				font-size:120%
			}
		}

		p + p{
			margin-top:16px;
		}
		p + *{
			margin-top:24px;
		}
		h1+ *, h2+ *, h3+ *, h4+ *, h5+ *, h6+ *{
			margin-top:1rem;
		}
		* + h1, * + h2, * + h3, * + h4, * + h5, * + h6{
			margin-top:2em;
		}


		h1, h2, h3, h4, h5, h6{
			font-weight:700;
			line-height: 1.2;
		}

		h2[id]::before {
			content: '';
			display: block;
			height:      80px;
			margin-top: -80px;
			visibility: hidden;
		}

		h1{font-size:2rem}
		h2{font-size:1.8rem}
		h3{font-size:1.6rem}
		h4{font-size:1.4rem}
		h5{font-size:1.2rem}
		h6{font-size:1rem}

		a{
			text-decoration: underline;
		}

		ul{
			list-style:disc;
			margin-left:1em;
		}
		ul ul {
			font-size: inherit;
		}

		li + li, li ul, li ol {
			margin-top:.5em;
		}

		.do-not-table{
			overflow-x:auto;

			table{
				max-width: 1000px;
			}
			tr{
				display:grid;
				grid-template-columns: 1fr 1fr;
				
			}
			tbody tr{
				border-bottom: 2px solid var(--table-border-color);
			}
			th,td{
				padding:12px 16px;
			}
			th{
				background: #EAEDF7;
				background-color: var(--table-header-bg-color);
				color: var(--table-header-text-color);
			}
			th+th{
				background: #FEE9E6;
				background-color: var(--table-header-danger-bg-color);
				color: var(--table-header-danger-text-color);
			}
		}

		.frame {
			margin-top: 40px;
			padding: 40px;
			background-color: white;
			text-align: center;

			@media(max-width:1024px){
				margin-top: 32px;
				padding: 32px 24px;
				width: 100vw;
				max-width: 100vw;
				position: relative;
				left: 50%;
				right: 50%;
				margin-left: -50vw;
				margin-right: -50vw;
			}

			img{
				display: inline-block;
			}
		}

		pre {
			padding:24px;
			border-radius: 8px;
		}

	}
</style>